body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E3E4CE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    background-color: #053326;
    margin-top: 0;
    justify-content: flex-end;
    color: #E3E4CE;
}

h1 {
    margin-right: auto;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #053326;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
    gap: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.navItem {
    list-style: none;
}

.navItem:hover {
    cursor: pointer;
}


img {
    width: 100%;
    border-color: #053326;
    border-width: 20px;
}

img:hover {
    opacity: 0.7;
}

.imageWrapper {
    max-width: 35rem;
    min-width: 15rem;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.aboutMeContent {
    max-width: 35rem;
    min-width: 15rem;
    padding: 1rem;
}

#about {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.bigImage {
    max-width: 70rem;
    min-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.smallImages {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    border-color: #053326;
    border-width: 20px;
}

.workItems {
    width: 35rem;
    position: relative;
}

.workDescription {
    position: absolute;
    color: rgb(95, 136, 172);
    top: 40%;
    background-color: aqua;
    padding: 1rem;
    border-radius: 3px;
    margin: 0.5rem;
}

.socials {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

#contact {
    margin-bottom: 0;
}

.footerItem a {
    font-size: 2em;
    color: black;
}