body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E3E4CE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    display: flex;
    background-color: #053326;
    margin-top: 0;
    color: #E3E4CE;
}

h1 {
    margin-right: auto;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-left: 50px;
}

h3 {
    margin-right: 40px;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #053326;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
    gap: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.navItem {
    list-style: none;
    font-weight: 500;
}

.navItem:hover {
    cursor: pointer;
}

a {
    color: #E3E4CE;
}

a:hover {
    color: aquamarine;
}

img {
    width: 100%;
    border-color: #053326;
    border-width: 20px;
}

img:hover {
    opacity: 0.7;
}

.about {
    display: flex;
    min-width: 30rem;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    background-color: #053326;
    border-color: #053326;
    border-width: 5px;
    border-style: solid;
}

.imageWrapper {
    display: flex;
    max-width: 25rem;
    min-width: 15rem;
    grid-area: 'myPhoto';
}

.imageWrapper img {
    width: 300px;
    margin: 15px;
    min-width: 10rem;
}


.aboutMeContent {
    max-width: 45rem;
    min-width: 15rem;
    padding: 1rem;
    grid-area: 'aboutMe';
    color: #E3E4CE;
    background-color: #006142;
    margin-bottom: 15px;
    margin-top: 15px;
}

.work {
    background-color: #053326;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/*Left grid template for possible future use*/
.workImages {
    /*display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    'mainImage mainImage'
    'project2 project3'
    'project4 project5';
    */
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;   
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    min-width: 40rem;
    gap: 1rem;
}

.work h2 {
    display: flex;
    margin-left: 350px;
    align-items: center;
    padding-top: 20px;
    color: #E3E4CE;
}

hr {
    height: 2px;
    background-color: #E3E4CE;
}

#bigImage {
    grid-area: 'mainImage';
    width: 100%;
    min-width: 30rem;
    margin-left: 5px;
    margin-right: 5px;
}

#bigImage img {
    height: 650px;
    object-fit: cover;
    border: #E3E4CE;
    border-style: solid;
    border-style: unset;
}

#project2, #project3, #project4, #project5 {
    display: flex;  
    width: 49%;
    height: 300px;
}

#project2 img {
    height: 300px;
    object-fit: cover;
    border: #E3E4CE;
    border-style: solid;
}

#project3 img {
    height: 300px;
    object-fit: cover;
    border: #E3E4CE;
    border-style: solid;
}

#project4 img {
    height: 300px;
    object-fit: cover;
    border: #E3E4CE;
    border-style: solid;
}

#project5 img {
    height: 300px;
    object-fit: cover;
    border: #E3E4CE;
    border-style: solid;
}

.workItems {
    width: 35rem;
    position: relative;
}

.workDescription {
    position: absolute;
    color: #053326;
    top: 40%;
    background-color: rgba(67, 207, 142, 0.808);
    padding: 1rem;
    border-radius: 3px;
    margin: 0.5rem;
    font-weight: bolder;
    border-color: #053326;
    border-style: solid;
    border-width: 2px;
}

.socials {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

footer {
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #053326;
    color: #E3E4CE;
    width: 100%;
}

.footerItem a {
    font-size: 2em;
    color:#E3E4CE;
}

/*Added smooth scroll for nav links*/
html {
    scroll-behavior: smooth; 
}